<div class="title">
  <h1>Update your profile</h1>
</div>

<div class="dance-selection">
  <h1>Select a dance</h1>
  <div class="alt-menu">
    <%= select_tag 'dances', options_for_select(@dances.collect{ |u| [u.title, u.id] }) %>
    <div class="dances_menu">
      <h2><% @user.dances.each do |dance| %></h2>
        <div class="menu">
         <ol><%= dance.title %></ol>
        </div>
      <% end %>
    </div>
  </div>
</div>
