.map-n-card {
  display:flex;
  width:1200px;

  .bouton-n-card {
    width:700px;
    margin-left:30px;
    .title_text {
      font-family:"Roboto";
      color:black;
      margin-top: 20px;
      margin-left: 60px;

      }
    .container-appointments {
      // display:grid;
      width:750px;
      grid-template-columns: repeat(2, 1fr);
      // grid-gap: 5px;
      grid-auto-rows: minmax(100px, auto);
      margin-right:30px;
      margin-bottom:20px;
      p {
        color:black;
        font-weight:10px;
        font-size:15px;
      }
    .appointment-card{
      width:250px;
      height:150px;
      box-shadow: 3px 3px 20px 1px grey ;
      border-radius:10px;
      background-color: white;
      padding:20px;
      font-family: 'Roboto';
      color:black;
    }
    .appointment-card2{
      width:1200px;
      height:800px;
      box-shadow: 3px 3px 20px 1px grey ;
      border-radius:10px;
      background-color: white;
      margin-top:30px;
      padding:40px;
      font-family: 'Roboto';
      color:black;
      margin-bottom:20px;
      margin-left:50px;
    }
    .appointment-card3 {
      display:flex;
      width:770px;
      height:230px;
      background-color: white;
      margin-top:50px;
      font-family: 'Roboto';
      color:black;
      align-items:flex-end;
        .image-card-appointments {
          img {
            width: 330px;
            height:225px;
            border-radius: 20px;
          }
        }
        .information-event {
            padding:5px;
            width:350px;
            height:230px;
            margin-left:10px;
            .event-uptitle {
              margin-bottom:10px;
              h3 {
                font-weight:bold;
                font-size: 20px;
              }
              a {
                color:grey;
                font-family: 'arial';
              }
            }
            .event-subinformations {
              p {
              color:grey;
              display:unset;
              }
            }
          }
        }
        .click-participate {
              // margin-top:100px;
        .btn {
            width:110px;
            }
          }
      }
    }
    .container-map{
    position:fixed;
    margin-right:0px;
    width:1200px;
    margin-left: 850px;
    .map{
    height:auto;
    }
  }
  }
