.title_text {
  font-size:20px;
  color:black;
}

.container-appointment {
  width:100%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left:30px;
  .appointment-card{
    width:250px;
    height:150px;
    border:solid;
    border-radius:10px;
  }
}
