@media screen and (min-width: 320px) and (max-device-width : 480px) {
// Place all the styles related to the Style controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.partners-list {
    display:grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-gap: 10px;
    .listing-partners {
    display: grid;
    min-width:250px;
    width:250px;
    height:250px;
    padding: 5px;
    margin-left:30px;
    margin-top: 10px;
    border: black;
    border-style:solid;
    border-width: 1px;
    background-color:white;
    h2 {
      color:black;
      padding-top:10px;
      margin-top:20px;
      margin-left:20px;
      font-size: 20px;
    }
    h3 {
      color:white;
      margin-left:20px;
      font-size: 20px;
    }
  }
}
.container-card-profile {
  .container-3 {
    display:flex;
    width:100%;
    .container-one-dance {
      display:flex;
      width:50%;
      .profile-dance-card2 {
        // border:solid 1px grey;
        border-radius: 10px;
        padding:10px;
        width:99%;
        .list-community-dancers {
          display:grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
          padding:20px;
          width:300px;
          .image-dancers {
          img {
            width: 50px;
            height:50px;
            border-radius: 50%;
            object-fit:cover;
            }
            a {
              color:grey;
              font-weight:bold;
              padding:20px;
            }
          }
        }
      }
    }
    .events-list {
      // border: solid 1px grey;
      width:50%;
      // padding:10px;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      .card-event-of-dance {
          height: 330px;
          border: solid 1px grey;
          // border-radius: 11px 11px 10px 10px;
          // grid-template-columns: 1fr 1fr 1fr 1fr;
        img {
          width:100%;
          height:150px;
        }
        .carte-details {
          padding:10px;
          a {
            font-family:'Raleway'
          }
          img {
          width:100px;
          height:100px;
          border-radius: 50%;
          }
        }
      }
    }
  }
}
}
