// Place all the styles related to the dances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-dances {
  background-color: grey;

  .title {
    text-align:center;

    h1 {
      font-size:30px;
      font-weight:bold;
    }
  }

  .dances {
    display:grid;
    text-align:center;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-gap: 10px;
    justify-content:space-between;

    h3 {
      font-size: 20px;
    }

  .card-dances {
    margin:20px;
    border-radius: 2px;
    min-width:200px;
    width:200px;
    height:120px;
    padding: 5px;
    // flex-grow: 1;
    margin-left:30px;
    margin-top: 10px;
    border: black;
    border-style:solid;
    border-width: 1px;
    // box-shadow: 1px 0px 10px grey;
    background-color:white;
    h2 {
      font-size: 15px;
    }
    h3 {
      font-size: 25px;
      }
    }
  }
}
