@media screen and (min-width: 320px) {
  .dp-background {
    background-image: url('/assets/aditya-ali-SzI4No8rQ14-unsplash.jpg');  /* Chemin vers l'image */
    background-size: cover;  /* Redimensionne l'image pour couvrir tout le fond */
    background-position: center center;  /* Centre l'image */
    background-attachment: fixed;  /* Garde l'image fixe lors du défilement */
    height: auto;  /* Hauteur de la fenêtre pour occuper toute la page */
    display: flex;
    justify-content: center; /* Centrer le contenu horizontalement */
    align-items: center;     /* Centrer le contenu verticalement */
  }
  .cont-input {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: auto;
    height: 800px;
    width: 30%;
    padding:10px;
    opacity: 0.9;
      h3 {
      font-family: 'Raleway';
      font-weight:bold;
      justify-content:center;
      }
      a {
        font-family: 'Raleway';
      }
  .form-inputs {
    font-family: 'Raleway';
    padding:20px;
    background-color: #FFF;
    border-radius: 5px;
    .form-control {
      width:100%;
      font-family: 'Arial';
    }
  }
  .form-actions {
    padding:2vh;
    width:42vw;
    font-family: 'Raleway';
    }
  }
}
