body {
  color:black;
}

.cont-input{
  margin-top: 50px;
  margin-right:auto;
  margin-left:auto;
  h2 {
    font-size:20px;
    color:black;
    margin-right:auto;
    margin-left:auto;
  }
.form-inputs {
  margin-right:auto;
  margin-left:auto;
  width:400px;
  }
 .form-actions {
  margin-right:auto;
  margin-left:auto;
 }
}
