body {
  background-color:white;
}
.banner {
  width:100%;
  background-size: cover;
  opacity:1;
  img {
    width:10px;
  }

.container {
  color:white;
  height: 90vh;
  border-radius:10px;
  width:100%;
  margin:0;

    .title {
      h1 {
        margin-right: 10px;
        font-family:'Marck Script';
        font-weight:bold;
        font-size: 120px;
      }
      p {
        color: white;
        text-align: center;
        font-size:30px;
      }
    }
  }

.section1 {
  justify-content:center;

  .row {
    justify-content:space-around;

    .column {
      flex-direction:row;
      // margin-left: 20px;
      // margin-right: 100px;

      a {
        justify-content:space-around;
        color:white;
        font-size:25px;
      }
    }
  }
}

.section2 {
  justify-content:center;

  .row {
    justify-content:space-around;
    margin-top:400px;

    .column {
      flex-direction:row;
      // margin-left: 20px;
      // margin-right: 100px;

      a {
        justify-content:space-around;
        color:white;
        font-size:25px;
      }
    }
  }
}
}
