body {
    background-color:white;
}

.background {
  background-color:#f91be3;
  background:cover;
}

.container {
  background-color:white;
  color:#791E94;
  height: 100vh;
  border-radius:0px;

    .title {

      h1 {
        margin-right: 40px;
        font-family:'Marck Script';
        font-weight:bold;
        font-size: 120px;
        color:#791E94;
      }
    }
  }

.section {
  justify-content:center;

  .row {
    justify-content:space-around;

    .column {
      // flex-direction:row;
      // margin-left: 20px;
      // margin-right: 100px;

      a {
        justify-content:space-around;
        color:#791E94;
        font-size:25px;
      }
    }
  }
}

.search {
  width:500px;
  margin-right:auto;
  margin-left:auto;
  margin-top:50px;
  .b-primary{
    background-color:#791E94;
    color:white;
    border-radius:30px;
    margin-top:15px;
    margin-left: 170px;
    width:150px;
  }
}
