body {
    background-color:white;
}

.background {
  background-color:#f91be3;
  background:cover;
}

.container {
  background-color:white;
  color:#791E94;
  height: 100vh;
  border-radius:0px;

    .title {

      h1 {
        margin-right: 40px;
        font-family:'Marck Script';
        font-weight:bold;
        font-size: 120px;
        color:#791E94;
      }
    }
  }

.section {
  justify-content:center;

  .row {
    justify-content:space-around;

    .column {
      // flex-direction:row;
      // margin-left: 20px;
      // margin-right: 100px;

      a {
        justify-content:space-around;
        color:#791E94;
        font-size:25px;
        transition-duration: 0.4s;
      }
      a:hover{
        color:#f91be3;
        // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        text-decoration: none;
      }
    }
  }
}

.search {
  width:700px;
  height:10px;
  margin-right:auto;
  margin-left:auto;
  margin-top:80px;

  .b-primary {
    background-color:#791E94;
    color:white;
    font-family:'Roboto';
    font-weight:bold;
    text-align:center;
    padding: 7px 15px;
    width:140px;
    text-decoration: none;
    border-radius:30px;
    margin-top:50px;
    margin-left: 280px;
    transition-duration: 0.4s;
  }

  .b-primary:hover {
  background-color: #f91be3;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
  }
