// Place all the styles related to the dances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .title {
    position:sticky;
    text-align:center;

    h1 {
      font-size:50px;
      font-weight:bold;
    }
  }

  .partners {
    display:grid;
    width:900px;
    margin:0;
    padding:30px;
    background-color:#fffff5;

    h3 {
      font-size: 20px;
    }

  .card-partners {
    justify-content:space-around;
    margin-left:30px;
    margin-top: 10px;
    width:250px;
    height:250px;
    // border:solid #848ccf;
    border-radius: 20px;
    background-color:#848ccf;
    h2 {
      color:white;
      margin-left:20px;
      font-size: 40px;
    }
    h3 {
      color:white;
      margin-left:20px;
      font-size: 30px;
      }
    }
  }

