// Place all the styles related to the dancers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.infos-partner {
  h3 {
    font-size:20px;
    color: darkblue;
    margin:20px 0 0 10px;
  }
}
