// Place all the styles related to the dances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .title {
    position:sticky;
    text-align:center;

    h1 {
      font-size:50px;
      font-weight:bold;
    }
  }

  .partners {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
    grid-gap: 10px;
    justify-content:space-between;

    h3 {
      font-size: 20px;
    }

  .card-partners {
    // display: grid;
    min-width:200px;
    width:200px;
    height:200px;
    padding: 5px;
    // flex-grow: 1;
    margin-left:30px;
    margin-top: 10px;
    border: black;
    border-style:solid;
    border-width: 1px;
    // box-shadow: 1px 0px 10px grey;
    background-color:white;
    h2 {
      color:white;
      margin-left:20px;
      font-size: 40px;
    }
    h3 {
      color:white;
      margin-left:20px;
      font-size: 30px;
      }
    }
  }

.navbar-yourjob {
  display:flex;
  position:sticky;
  justify-content:space-between;
  top:0;
  height:200px;
  background-color:white;
  z-index: 9;
  opacity:10;

    .logo {
      padding-top: 4px;
      padding-left: 6px;
      position:sticky;
        img {
          height:50px;
          width:50px;
          margin-top: 0px;
          margin-right: 0px;
        }
        h1 {
          margin-right: 40px;
          font-family:'Marck Script';
          font-weight:bold;
          font-size: 120px;
          color:#791E94;
        }

        .logo-text {
          margin-right: 40px;
          font-family:'Marck Script';
          font-weight:bold;
          font-size: 120px;
          color:#791E94;
        }
      }

      .avatar {
      margin-top: 2px;
      margin-right: 5px;
      position:sticky;
      height: 50px;
      width: 50px;
      }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .logo {
//   width:300px;
//   height:400px;

// }

