// Place all the styles related to the dancers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
  .container-partner {
    display:flex;
    background-color:none;
    border-radius:20px;
    box-shadow:20px;
    width:900px;
    height:600px;
    border:solid;
    margin-left:auto;
    margin-right:auto;

      h1 {
        color:black;
        font-size:40px;
        margin-left:10px;
      }

      h2 {
        color:black;
        font-size:30px;
        margin-left:10px;
      }
  }

  .infos-partner {
    h3 {
      font-size:20px;
      color:black;
      margin:20px 0 0 10px;
      display:grid;
      }
    }
.contact-partner {
  background-color:#f91be3;
  width:100%;
  bottom:0px;
  height:80px;
  h4 {
    color:white;
    font-weight:bold;
    margin-left:10px;
    margin-top:10px;
  }
  .top-card {

  }
}
