// Place all the styles related to the stylings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-infos {
  text-align:center;
  margin-top:20px;
  // height:100px;
}

.user-addon {
  display:flex;
  justify-content:space-around;

    h3 {
    font-size:20px;
    }
    a {
        justify-content:space-around;
        color:#791E94;
        font-size:25px;
        transition-duration: 0.4s;
    }
    a:hover{
        color:#f91be3;
        // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        text-decoration: none;
    }
  }

.show-profile {
  display:flex;


  .container-left {
    display:grid;
    width:100%;
    margin-left:0px;
    height:auto;
    h2 {
      line-height: 1.3;
      font-size:20px;
    }
    .user-details {
      display:flex;
      width:100%;
      background-color:#791E94;
      justify-content:space-between;
      align-items:center;
      align-self:center;
      h1 {
      margin-right: 10px;
      margin-left:10px;
      padding:10px;
      font-size:40px;
      font-weight: bold;
      color:white;
      }

      h2 {
      margin-right: 10px;
      margin-left:10px;
      padding:10px;
      font-size:20px;
      font-weight: bold;
      color:white;
    }
  }

  }
  .container-right {
    display:grid;
    background-color:#B3B6B7;
    border-width:1px;
    border-radius:0px;
    min-width:200px;
    width:500px;
    // height:auto;
    padding:20px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.21);

    .user-dances {
      display:flex;
    .list-mydances {

    }
  }
  .user-partners {

      }
    }
  }
#map {
  // display:flex;
}

.card-dans {
  display:flex;
}

.card-dans1 {
  justify-content:center;
}
.navbar-yourjob {
  display:flex;
  position:sticky;
  justify-content:space-between;
  height:70px;
  background-color:white;
  z-index: 9;
  opacity:10;

    .logo {
      padding-top: 4px;
      padding-left: 6px;
      position:sticky;
        img {
          height:50px;
          width:50px;
          margin-top: 0px;
          margin-right: 0px;
        }
        h1 {
          margin-right: 40px;
          font-family:'Marck Script';
          font-weight:bold;
          font-size: 20px;
          color:#791E94;
        }
        h2 {
          font-size: 20px;
        }
        a {
          margin-right:20px;
        }

        .logo-text {
          margin-right: 40px;
          font-family:'Marck Script';
          font-weight:bold;
          font-size: 20px;
          color:#791E94;
        }
      }

      .avatar {
      margin-top: 2px;
      margin-right: 5px;
      position:sticky;
      height: 50px;
      width: 50px;
      }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.profile-card {
  width:500px;
}
// .logo {
//   width:300px;
//   height:400px;

// }
