// Place all the styles related to the Styles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title {
  text-align:center;
}

.dance-selection {
  margin-right:auto;
  margin-left:auto;
  display:grid;
  box-shadow: 1px 10px 6px 1px grey;
  background-color: #f1f2f5;
  border:solid;
  border-width: 1px;
  border-radius:10px;
  width:800px;
  padding:20px;
  h1 {
    color:#f1f2f5;
  }

  .dances_menu {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;

    ol {
        color:#f1f2f5;
        font-size: 20px;
      }
      .menu {
        border-radius:10px;
      }
    }
  }
