.container-card-profile {
  // border:solid;
  // padding:10px;
  .card-profile-index {
    background-color:white;
    width:54%;
    height:auto;
    // padding:20px;
    // border:solid 1px grey;
    margin-top:10px;
    margin-left:10px;
    img {
      width:200px;
      height:200px;
      border-radius:50%;
      object-fit:cover;
    }
    .photo-n-details {
      display:flex;
      border:solid 1px grey;
      padding:10px;
    }
    .reviews-block {
      margin-top:20px;
      padding:10px;
      border:solid 1px grey;
    }
    .user_profile-informations {
      color:grey;
    }
  }
  #index-profiles {
      margin-left:10px;
      margin-right:20px;
      margin-top:10px;
      width:50%;
      position:sticky;
      // display:grid;
      // grid-template-columns: 1fr 1fr;
      // grid-gap: 1px;
      // grid-auto-rows: minmax(2px, auto);
    #index-profiles-cards {
      display:flex;
      border-radius:0px;
      margin-bottom:10px;
      border:solid 1px grey;
      height:194px;
      padding:10px;
      margin-right:10px;
      #graph-percentage {
        border:solid 1px black;
      }
    }
  }
}

