
  .container-card-profile {
    // border:solid;
    // padding:10px;
    .card-profile-index {
      background-color:white;
      width:54%;
      height:auto;
      // padding:20px;
      // border:solid 1px grey;
      margin-top:10px;
      margin-left:10px;
      img {
        width:200px;
        height:200px;
        border-radius:50%;
        object-fit:cover;
      }
      .photo-n-details {
        display: flex;
        border: solid 1px white;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 1px grey;
        padding: 10px;
        height:auto;
      }
      .reviews-block {
        margin-top:20px;
        padding:10px;
        border:solid 1px grey;
      }
      .user_profile-informations {
        color:grey;
      }
    }
    #index-profiles {
        margin-left:20px;
        margin-right:20px;
        margin-top:10px;
        width:50%;
        position:sticky;
        // display:grid;
        // grid-template-columns: 1fr 1fr;
        // grid-gap: 1px;
        // grid-auto-rows: minmax(2px, auto);
      #index-profiles-cards {
        // display: flex;
        border: solid 1px white;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 1px grey;
        padding: 10px;
        margin-bottom:20px;
        #graph-percentage {
          height:350px;
          #graph1 {
            height:400px;
            width:100%;
            border:solid 1px grey;
            border-radius:10px;
            margin-top:10px;
          }
        }
      }
    }
  }

