.title-profile {
  h1 {
    margin-right: 40px;
    font-family:'Marck Script';
    font-weight:bold;
    font-size: 80px;
    color:#791E94;
    text-align:center;
  }
  p {
    margin-top:10px;
    text-align:center;
  }
}

.container1 {
  display:flex;
  margin-top:30px;
  border:solid; //permet de voir les bordures du container -- à supprimer

  .my_profile {
    // display:flex;
    border:solid pink;
    margin-bottom:20px;
    margin-left:20px;
    margin-top:10px;
    padding-top:10px;
    width:90%;
    height:600px;
    box-shadow: 3px 3px 20px 1px grey ;
    border-radius:10px;
    background-color: white;
    font-family: helvetica;
    color:black;
  h1 {
    color:black;
    margin-right:10px;
    margin-left:10px;
  }
  .image-profile{
    border: thin dotted black;
    width:200px;
    height:200px;
    margin-left:10px;
    border-radius:2px 2px 2px 2px;
  }
  .container-card-profile {
    display:flex;
  }
  .my-informations {
    width:300px;
    height:120px;
    color:grey;
    margin-left:30px;
  }
 }
}

.container-appointments-profile {
  width:700px;
  display:grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left:30px;
  .appointment-card{
    // width:250px;
    height:150px;
    box-shadow: 3px 3px 20px 1px grey ;
    border-radius:10px;
    background-color: white;
    padding:20px;
    font-family: helvetica;
    color:black;
  }
  .appointment-card2{
    width:1200px;
    height:800px;
    box-shadow: 3px 3px 20px 1px grey ;
    border-radius:10px;
    background-color: white;
    margin-top:30px;
    padding:40px;
    font-family: helvetica;
    color:black;
    margin-bottom:20px;
    margin-left:50px;
  }
  .appointment-card3{
    width:300px;
    height:500px;
    box-shadow: 3px 3px 20px 1px grey ;
    border-radius:10px;
    background-color: white;
    margin-top:25px;
    padding:40px;
    font-family: helvetica;
    color:black;
    margin-bottom:20px;
    margin-left:50px;
  }
}

.menu {
  margin-top:20px;
  box-shadow:1px 1px 20px 1px grey;
  background-color: #ffff;
  color:black;
  height:120px;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:20px;
}

.my_dances {
  display:flex;
}

