.title-profile {
  h1 {
    margin-right: 40px;
    font-family:'Marck Script';
    font-weight:bold;
    font-size: 80px;
    color:#791E94;
    text-align:center;
  }
  p {
    margin-top:10px;
    text-align:center;
  }
}

.container-card-profile {
    // display:flex;
    background-color:#DB3069;
    height:165px;
  }
  .banner-profile {
    display:flex;
    height:155px;
    .image-profile{
      padding:10px;
      img {
        width:130px;
        height:130px;
        border: solid 4px  white;
        margin-left:30px;
        margin-top:5px;
        border-radius:50%;
      }
    }
    .my-informations {
      height:100px;
      padding:20px;
      a {
      display:flex;
        color:white;
        font-weight:bold;
        font-size:20px;
        width:200px;
      }
    }
    .dance-query {
      display:flex;
      width:500px;
      height: 70px;
      margin-left:400px;
      margin-top:10px;
      justify-content:center;
      .query {
        width:60%;
        height:20px;
      }
      .button-OK {
        width:40%;
        margin-left:10px;
        height:30px;
      }
    }
  }

.container1 {
  display:flex;
  margin-right:10px;
  margin-top:10px;
  width:100%;
  .my_profile {
    background-color: white;
    font-family: helvetica;
    color:black;
    width:40%;
  h1 {
    color:black;
    margin-right:10px;
    margin-left:10px;
  }
 }
}

.container-appointments-profile {
    width: 150px;
    margin-top: 15px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(10px, auto);
    .button-block {
    display:flex;
    justify-content:space-around;
    .titres-cadre {
      color: #fff;
      background-color: #1446A0;
      box-shadow: 0px 0px 8px 0px grey;
      border-radius: 5px;
      text-align:center;
      padding:auto;
      width:200px;
      margin-bottom:20px;
      margin-left:20px;
      p {
        display: block;
        font-size: 1rem;
        color: white;
        text-align: center;
      }
    }
    }
    .accroche {
      text-align:center;
      p {
        color:black;
        font-weight:bold;
        font-family:helvetica;
        font-size:14px;
      }
  }
  .appointment-card{
    width: 8.5rem;
    height: 5.5rem;
    background-color: white;
    padding:20px;
    font-family: helvetica;
    color:black;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .appointment-card2{
    width:1200px;
    height:800px;
    box-shadow: 3px 3px 20px 1px grey ;
    border-radius:10px;
    background-color: white;
    margin-top:30px;
    padding:40px;
    font-family: helvetica;
    color:black;
    margin-bottom:20px;
    margin-left:50px;
  }
  .appointment-card3{
    width:300px;
    height:500px;
    box-shadow: 3px 3px 20px 1px grey ;
    border-radius:10px;
    background-color: white;
    margin-top:25px;
    padding:40px;
    font-family: helvetica;
    color:black;
    margin-bottom:20px;
    margin-left:50px;
  }
}

.my_dances {
  display:flex;
}

