@media screen and (min-width: 320px){
  .grid-user {
    margin-top:10px;
    height:auto;
    width:100%;
    .contain-user {
      display: grid;
      background-color: #f1f2f5;
      margin-bottom:10px;
      padding:10px;
      width:50%;
      height:fit-content;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      grid-auto-rows: minmax(1rem, auto);
      .card-community {
        margin-bottom:10px;
        width: 50px;
        border-radius:30px;
        .image-user-card {
          width:55px;
          height:55px;
          img {
            width:100%;
            height:100%;
            border-radius: 50%;
            object-fit:cover;
            object-position: cover;
            padding: 1px;
            background-color: white;
            }
          }
          .user-details {
          background-color: white;
          height:100px;
          width:100%;
          padding:2px;
            ul {
              font-size:1vw;
              font-family: 'Raleway', sans-serif;
              font-weight:bold;
              color:black;
              li {
                text-decoration: none;
                a {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    .search-motor {
      position:sticky;
      margin-left:1rem;
      border:solid;
      height:800px;
      width:50%;
      margin-top:20px;
      margin-bottom:1rem;

      padding:1rem;
      .contain-3 {
        border:solid;
        width:95%;
        margin-right:auto;
        margin-left:auto;
        margin-top:40px;
        margin-bottom:1rem;
        height:auto;
        padding:2rem;
        .card-search-types {
          margin-left:auto;
          margin-right:auto;
          border:solid;
          width: 90%;
          height:100%;
        }
      }
      .contain-4 {
        border:solid;
        width:95%;
        margin-right:auto;
        margin-left:auto;
        margin-top:1rem;
        margin-bottom:1rem;
        height:auto;
        padding:2rem;
        .card-search-types {
          margin-left:auto;
          margin-right:auto;
          border:solid;
          width: 90%;
          height:100%;
        }
      }
    }
  }
}
