  <div class="title">
    <h1>Our Dancing Community</h1>
  </div>
<%= link_to "Home", root_path %>
  <div class="partners">
    <% @partners.each do |partner| %>
    <div class="card-partners">
      <h2><%= link_to partner.pseudo, partner_path(partner) %></h2>

    </div>
    <% end %>
  </div>
  <%= link_to "Home", root_path %>
