<h1>Meet all dancers</h1>

  <div class="card-partner">
    <% @partners.each do |partner| %>
    <h3><%= link_to partner.name, partner_path(partner) %></h3>
    <h3><%= partner.dance_id.name %></h3>
    <% end %>
  </div>
