  <div class= "image-profile">
    <%= image_tag user.photo %><br>
    <%= user.first_name %>
  </div>
<h2><% @user.appointments.each do |his_appointment| %>
  <% his_appointment %>
  <% end %>
</h2>
