<div><h1>Dancing Partners</h1></div>
<div><h3>Choose your favorite style</h3></div>

<% @dances.each do |dance| %>
  <h3><%= link_to dance.style, dance_path(dance) %></h3>
  <h3><%= dance.location %></h3>
  <% end %>
