<div class="contain">
  <div class="title">
    <h1>Choose your favorite style</h1>
  </div>
<%= link_to "Home", root_path %>
  <div class="partners">
    <% @dances.each do |dance| %>
    <div class="card-partner">
      <h3><%= link_to dance.title.capitalize, dance_path(dance) %></h3>
    </div>
    <% end %>
  </div>
  <%= link_to "Back", :back %>
</div>
<%= link_to "Home", root_path %>
