<div class="pt-30 container">
  <h1 class="text-center"> Add your Dance</h1>
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for(@dance) do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-flat" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
