<h1>Dancing Partners</h1>
<%= link_to "Home", root_path %>

<h1><%= @style %></h1>

  <div class="cards">
    <% @dance.partners.each do |partner| %>
      <%= render "partners/dance_card", dance: dance %>
    <% end %>
  </div>
<%= link_to "Home", root_path %>
