<h1>Dancing Partners</h1>
  <h1><%= link_to @style, dances_path(@dance) %></h1>

<div class="add-dance">
  <%= link_to "Select this dance", profile_path(@user),method: :post, dance: @dances %>
</div>

<div class="bouton-home">
  <%= link_to "Home", root_path %>
</div>
