
  <div class="container-background">
    <div class="background">
      <div class="background-picture">
        <!-- OK en local --> <!-- <img src= "assets/aditya-ali-SzI4No8rQ14-unsplash.jpg" > -->
        <img src= "https://res.cloudinary.com/hnnyhemvj/image/upload/v1720115386/aditya-ali-SzI4No8rQ14-unsplash_qaiq68.jpg">
      </div>
      <div class="container">
        <p>Dancing Partners est une communauté en ligne de danseurs permettant de trouver vos partenaires de danse.
          Découvrez les agendas la danse, rencontrez vos danseurs favoris, participez aux meilleurs évènements de danse, et devenez organisateurs de vos évènements.
        </p>
        <div class="search2">
          <%= form_tag dances_path, method: :get do %>
          <%= text_field_tag :query, params[:dance], class: "form-control", placeholder: "Enter your dance and find your community" %>
          <%= submit_tag "Search", class: "b-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

