.b-primary{
    background-color:#791E94;
    color:white;
    border-radius:30px;
    margin-top:15px;
    margin-left: 170px;
    width:150px;
    transition-duration: 0.4s;

  .b-primary:hover {
  background-color: #f91be3;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }

.b-prima {
    background-color:#791E94;
    color:white;
    border-radius:30px;
    margin-top:15px;
    margin-left: 170px;
    width:150px;
    transition-duration: 0.4s;

  .b-prima:hover {
  background-color: #f91be3;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }
