.mapboxgl-popup {
  max-width: 2000px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width:600px;
  height:800px;
  position:fixed;
}

.marker {
  background-size: cover;
  width: 70px;
  height: 70px;
  // border-radius: 50%;
  cursor: pointer;
}
