#appointment-card3 {
        display:flex;
        width:760px;
        height:260px;
        margin-bottom: 20px;
        border-bottom: darkgrey solid 1px;
        font-family: 'Raleway';
        color:black;
        // align-items:flex-end;
        .image-card-appointments {
          img {
            width: 330px;
            height:225px;
            border-radius: 20px;
            object-fit:cover;
          }
        }
.img-circle {
  border-radius:50%;
}
